/.idea/
/project/boot/
target/resolution-cache
target/streams
target/specs2-reports
target/test-reports
target/scala-2.10/classes
target/scala-2.10/test-classes
.DS_Store
project/project
project/target
target/.history
lib_managed/
src_managed/
test-output/
*.iml
data/
twitter.conf
kibana-3.1.0
material/
